<meta name="viewport" content="width-device-width" initial-scale="1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/cf721f2948.js" crossorigin="anonymous"></script>

<section class="sub-header">
  <nav>
      <img src=""></nav></section>

    <h2 id="tagging" style="text-align:center">Update Information</h2> 
    <br>
    <br>

<div id="outPopUp" class="container mt-5">
    <div class="container mt-5">
    
        <!--to show error alert-->
       
      
        <form  [formGroup]="customerForm" >
          <div class="col-lg-6 mt-2" >
            <input type="text" class="form-control" formControlName="customerName" placeholder="Enter customer Name">
          </div>
      
          <div class="col-lg-6 mt-2">
            <input type="text" class="form-control" formControlName="customerShoesName" placeholder="Enter customer shoes name">
          </div>
      
          <div class="col-lg-6 mt-2">
            <input type="text" class="form-control"  formControlName="orderDate" placeholder="Enter customer order date">
          </div>
      
          <div class="col-lg-6 mt-2">
            <input type="text" class="form-control"  formControlName="warrantyDate" placeholder="Enter customer warranty date">
          </div>

          <div class="col-lg-6 mt-2">
            <input type="text" class="form-control"  formControlName="price" placeholder="Enter customer price">
          </div>
        
          <div class="col-lg-4 mt-2" *ngIf="!getparamid" (click)="customerUpdate()">
            <button class="btn btn-primary btn-sm">Update</button>
        </div>
    
        </form>
      
      </div>
    </div>

    
    
    