/*----------Footer------------*/

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}


.sub-header{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(243, 241, 235, 0.8), rgba(255, 239, 176, 0.8)), url(pumanja.webp);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: rgba(255, 247, 247, 0.8);
}