<meta name="viewport" content="width-device-width" initial-scale="1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/cf721f2948.js" crossorigin="anonymous"></script>

<section class="sub-header">
  <nav>
      </nav></section>



<div id="outPopUp" class="container">
    <div class="row">
        <div id="textcent" class="col-md-6 mt-5 mx-auto">
            
                <h1 class="text center">FAQ</h1>
                <br>
            <div class="box">
                <br>
                <div class="faqs">
                    <img src="" style="width:50%">
                   <details>
                      <summary>What is the size standard that PUMA uses?</summary>
                      <br>
                      <p align="justify" class="text">“Products on the PUMA site runs in UK sizes. Majority of the products comes with product measurements located at the bottom of the size guide. If available, we recommend you to refer to it to help you select a more appropriate fit.
                        </p>
                   </details>
                   <details>
                      <summary>Who is controlling the system?</summary>
                      <br>
                      <p align="justify" class="text">No, this service is not available.
                        </p>
                   </details>
                   <details>
                      <summary>ll products inclusive of taxes and SST?</summary>
                      <br>
                      <p align="justify" class="text">All prices displayed are inclusive of taxes & SST..</p>
                   </details>
                   
                </div>
             </div>
             <br>
             <br>
        </div>
    </div>

<br><br>
<section class="footer">
    <h4>About Us</h4>
                <p>HQ OFFICE (Jempol) <BR> NO 69 ,LOTUS MALL, 72100,BAHAU, NEGERI SEMBILAN <BR> EMAIL: PUMAHQ@gmail.com<br>
                   Telephone: +603 6969 8523
                <br>Business Hour: 1000 - 2000(Everyday)</p>
    
       
  
        
    </section>
