<meta name="viewport" content="width-device-width" initial-scale="1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/cf721f2948.js" crossorigin="anonymous"></script>

        <section class="sub-header">
          <nav>
              <img src=""></nav>
              
          </section>
    

  <div id="outPopUp" class="container">
    <div class="row">
        <div id="textcent" class="col-md-6 mt-5 mx-auto">
          <h1 class="text center">ABOUT</h1>
              <img src="" style="width: 150px">
                <br>
                <p align="justify">Puma SE’s corporate mission statement and corporate vision statement are focused on making the company an industry leader, with emphasis on sustainability. The corporation’s mission statement establishes what the business does in the sporting goods industry. In this case, Puma aims for industry leadership in developing and providing its athletic goods to target customers around the world. On the other hand, the company’s vision statement determines the overall strategic direction of the enterprise and its development as a major player in the global athletic shoes and apparel market.
                </p>
            <br>
            <h2 id="tagging" style="text-align:center">Administrators Team</h2>
            <br>
            <br>
            <div class="row">
              <div class="column">
                <div class="card">
                  <img src="assets/mutu.png" style="width:50%">
                  <div class="container">
                    <br>
                    <h2>UnckeMuthu</h2>
                    <p class="title">Head of Administrative Management</p>
                    <p>Muthumali@gmail.com</p>
                    
                  </div>
                </div>
              </div>

                <div class="column">
                  <div class="card">
                    <img src="assets/kakros.jpg" style="width:50%">
                    <div class="container">
                      <br>
                      <h2>kak Ros</h2>
                      <p class="title">Staff</p>
                      <p>Rosssas@gmail.com</p>
                      
                    </div>
                  </div>
                </div>

                <div class="column">
                  <div class="card">
                    <img src="assets/opah.jpg"  style="width:50%">
                    <div class="container">
                      <br>
                      <h2>Opah kau</h2>
                      <p class="title">Sales Manager</p>
                      <p>Opahlove@gmail.com</p>
                    </div>
                  </div>
                </div>

                <div class="column">
                  <div class="card">
                    <img src="assets/tokdalang.jpg"  style="width:50%">
                    <div class="container">
                      <br>
                      <h2>Tok Dalang</h2>
                      <p class="title">Cashier</p>
                      <p>TokDalangranggi@gmail.com</p>
                    </div>
                  </div>
                </div>
              </div>
              <br><br>

              <section class="footer">
                <h4>About Us</h4>
                <p>HQ OFFICE (Jempol) <BR> NO 69,LOTUS MALL, 72100,BAHAU, NEGERI SEMBILAN <BR> EMAIL: PUMAHQ@gmail.com<br>
                   Telephone: +603 6969 8253
                <br>Business Hour: 1000 - 2000 (Everyday)</p>
            
                <div class="icons">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-instagram"></i>
                </div>
    
                
            </section>
              